
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h1>Kategori Ekleme Sayfası</h1>
<div style="margin-left:30px; margin-right:100px">
    <form method="post">
        <label>Kategori Adı</label>
        <input type="text" name="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-outline-warning">Kaydet</button>
    </form>
</div>
