
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DemoLayout</title>
</head>
<body>
    <h1>Burası Layout Alanıdır</h1>
    @RenderBody()
</body>
</html>
